<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="mx-2 tetx-white mb-0">
      <i class="far mt-2 fa-2x fa-star" (click)="onFavorite(name)" *ngIf="!isFavorite"></i>
      <i class="fas mt-2 fa-2x fa-star" (click)="unFavorite(name)" *ngIf="isFavorite"></i>
    </div>
    <mat-card-title class="mt-2 text-white">{{ getName() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mx-3">
    <div class="row">
      <div class="col-md-8">
        <p>
          <b>Altura:</b> {{ height }}
        </p>
        <p>
          <b>Saúde:</b> {{ health }}
        </p>
        <p>
          <b>Poder de ataque:</b> {{ attackPower }}
        </p>

        <div>
          <b>Tipo:</b> <br>
          <img *ngFor="let type of types" class="icon-types" src="/assets/images/types/{{ type.type.name }}.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="image" class="image-pokemon" alt="pokemon-image">
      </div>
    </div>

    <!-- <span  class="mx-1 custom-btn" [ngClass]="backgroundType(type.type.name)"></span> -->
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card-content>

</mat-card>
