.mat-card-header{
  background-color:#673ab7 !important;
  padding:5px !important;
}

.mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:5px !important;
}

.mat-card-actions {
  margin-left: 12px;
}
