<div class="container">
  <div class="text-center">
    <img src="/assets/images/image-topo.png" height="250" alt="">
    <form class="example-form">
      <mat-form-field class="custom-width" appearance="outline">
        <mat-label>Pesquise um pokemon</mat-label>
        <input type="tel" matInput placeholder="Evee" width="500">
      </mat-form-field>
    </form>
  </div>

  <div class="mt-5">
    <div class="row">
      <div class="col-md-4">
        <app-pokemon-card></app-pokemon-card>
      </div>
      <div class="col-md-4">
        <app-pokemon-card></app-pokemon-card>
      </div>
      <div class="col-md-4">
        <app-pokemon-card></app-pokemon-card>
      </div>
    </div>
  </div>

</div>
