<div class="container">
  <div class="text-center">
    <img src="/assets/images/image-topo.png" height="250" alt="">
    <form class="example-form">
      <mat-form-field class="custom-width" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Pesquise um pokémon</mat-label>
        <input type="tel" matInput placeholder="Evee" width="500">
      </mat-form-field>
    </form>
  </div>

  <div class="mt-5">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let pokemon of pokemons">
        <app-pokemon-card [name]="pokemon.name" [types]="pokemon.types" [health]="pokemon.stats[0].base_stat" [height]="pokemon.height"
          [attackPower]="pokemon.stats[1].base_stat" [image]="pokemon.sprites.front_default"></app-pokemon-card>
      </div>

    </div>
  </div>

</div>
